body {
  margin-right: 10px;
  margin-left: 20px;
  font-family: 'Roboto Serif', serif;
  
}
#container{
  position: relative;
}

h1{
    text-align: center;
}

.row{
    width : 100%;
}

*{
    box-sizing: border-box;
}

p{
  background-color: #bfbfbf;
    border: 2px solid black;
    height: 150px;
    margin-right: 10px;
    padding: 40px 10px 5px 10px;
    overflow: hidden;
}
#p1{
    background-color: rgb(241, 174, 174);
    position: absolute;
    top: 0;
    right: 0;
    font-weight: bold;
    height: 35px;
    width: 120px;
    padding: 10px;
    text-align: center;
}

#p2{
    background-color: rgba(194, 34, 34, 0.84);
    position: absolute;
    top: 0;
    right: 0;
    font-weight: bold;
    color: white;
    height: 35px;
    width: 120px;
    padding: 10px;
    text-align: center;
}

#p3{
    background-color: rgba(242, 229, 142, 0.827);
    position: absolute;
    top: 0;
    right: 0;
    font-weight: bold;
    height: 35px;
    width: 120px;
    padding: 10px;
    text-align: center;
}


@media (min-width: 992px) {
    .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
      float: left; 
    }
    .col-lg-1 {
      width: 8.33%;
    }
    .col-lg-2 {
      width: 16.66%;
    }
    .col-lg-3 {
      width: 25%;
    }
    .col-lg-4 {
      width: 33.33%;
    }
    .col-lg-5 {
        width: 41.66%;
    }
    .col-lg-6 {
        width: 50%;
    }
    .col-lg-7 {
        width: 58.33%;
    }
    .col-lg-8 {
        width: 66.66%;
    }
    .col-lg-9 {
        width: 74.99%;
    }
    .col-lg-10 {
        width: 83.33%;
    }
    .col-lg-11 {
        width: 91.66%;
    }
    .col-lg-12 {
        width: 100%;
    }
  }
  
  /********** Medium devices only **********/
  @media (min-width: 768px) and (max-width: 991.50px) {
     .col-md-6, .col-md-12 {
      float: left;
    }
    .col-md-6 {
        width: 50%;
        float: left;
    } 
    .col-md-12 {
        width: 100%;
        float: left;
    }
  }
 
@media(max-width: 767.50px) {
      .col-sm {
        float: left;
      }
        .col-sm{
            width : 100%;
            float : left;
        }
}